
<div class="row tile_count">
    <div class="col-md-12 col-sm-12 col-xs-12 tile_stats_count">
        <span class="count_top"><i class="fa fa-user">Tổng số đầu sách hiện có:</i></span>
        <div class="count">@ViewBag.quantityOfBooks</div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 tile_stats_count">
        <span class="count_top"><i class="fa fa-clock-o"></i>Số tác giả: </span>
        <div class="count">@ViewBag.quantityOfAuthors</div>
    </div>
</div>
