
@model  LibraryWeb.Models.category
<div class="modal fade" id="modalCategory">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Danh mục thể loại</h4>
            </div>
            <div class="modal-body">
                <form action="/Category/Store" method="post" id="formAddCate">
                    <div class="form-group">
                        <label>Tên danh mục thể loại</label>
                        <input type="hidden" class="form-control" name="cateId" />
                        @*<label>@Html.DisplayNameFor(model => model.cat_id)</label>*@
                        <input type="text" class="form-control" name="cateName" />
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success">Cập nhật</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>